.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
tests/
test_param.yaml
test_param.json
Ni2p_ref_sat_sub.dat
Ni2p_ref_sat_sub_1.dat
Ni2p_Ni-Kbeta_subtr-txt
Ni2p_ref_cut.dat
Ni2p_ref_only.dat
.idea/
results/
Cu2O*
plots_scripts/__pycache__/Ana*
d
Cu2p_data.dat
Cu_param0-169.yaml
Cu_test.yaml
Inputs_Ni_ref_fit.yaml
Ni2p_data2.dat
param_Ni(II)_ref.yaml
param_Ni(II)_ref_only.yaml
plots_scripts/__pycache__/
__pycache__/